.title {
  color: darkgoldenrod;
  text-align: center;
  font-size: 60px;
}

:root {
  background-image: url("https://wallpaperaccess.com/full/1181475.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#row {
  display: flex;
}

#column {
  flex: 50%;
}

.begining {
  color: darkgoldenrod;
  text-align: center;
  font-size: 20px;
}

.smoothieContainer {
  margin: 5px;
  padding: 5px;
}

.orderBtn:hover {
  color: darkgoldenrod;
  cursor: pointer;
  box-shadow: 5px 5px 0 darkgoldenrod;
}

.orderBtn {
  margin-left: 40px;
}

.orderBtn2 {
  margin: 20px;
}

.orderBtn2:hover {
  color: darkgoldenrod;
  cursor: pointer;
  box-shadow: 5px 5px 0 darkgoldenrod;
}

.smooth-lbl {
  margin-right: 15px;
}

.ingreditents {
  margin: 15px;
  color: darkgoldenrod;
}
